/**取消导航栏下面的线条*/
.layui-header .layui-nav .layui-this:after, .layui-header .layui-nav-bar {
    display: none;
}

/**重写侧边栏的宽度*/
.layui-layout-admin .layui-side {
    width: 220px;
    transition: all .3s;
}

.layui-nav-tree {
    width: 220px;
}

.layui-side-scroll {
    width: 240px;
}

.layui-nav-tree .layui-nav-more {
    right: 20px;
}

.layui-body {
    left: 220px;
    transition: all .3s;
}

.layui-layout-admin .layui-footer {
    left: 220px;
    transition: all .3s;
}

.layui-layout-left {
    left: 220px;
    padding: 0;
    transition: all .3s;
}

/**重写header的背景色和字体颜色*/
.layui-layout-admin .layui-header {
    /*background-color: #ffffff;*/
    background-color: #f9f9f9;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
     border-bottom: 1px solid #bab0a0;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-item a {
    color: #4a4a4a;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-more {
    border-color: #4a4a4a transparent transparent;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-mored {
    border-color: transparent transparent #4a4a4a;
}

.layui-layout-admin .layui-body {
    background-color: #F0F2F5;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
    background-color: transparent;
}

/**重写侧边栏的字体位置*/
.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child a {
    padding-left: 50px;
}

/**重写header的logo部分颜色*/
.layui-layout-admin .layui-logo {
    width: 220px;
    background-color: #4E5465 !important;
    color: #fff;
    font-size: 20px;
    font-family: Myriad Pro, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: 200;
    overflow: hidden;
    transition: width .3s;
}

.layui-layout-admin .layui-logo img {
    height: 40px;
    margin-right: 10px;
}

/*侧导航折叠样式*/
.nav-mini .layui-side .layui-nav-item > a {
    overflow: visible;
}

.nav-mini .layui-side .layui-nav-itemed .layui-nav-child {
    display: none;
}

.nav-mini .layui-side {
    width: 60px;
}

.nav-mini .layui-side .layui-nav {
    width: 60px;
}

.nav-mini .layui-side-scroll {
    width: 80px;
}

.nav-mini .layui-logo {
    width: 60px;
}

.nav-mini .layui-side .layui-nav .layui-nav-item > a span {
    display: none;
}

.nav-mini .layui-body {
    left: 60px;
}

.nav-mini .layui-footer {
    left: 60px;
}

.nav-mini .layui-layout-left {
    left: 60px;
}

@media screen and (max-width: 750px) {
    .layui-layout-admin .layui-side {
        position: fixed;
        top: 0;
        left: -260px;
        transition: all .3s;
        -webkit-transition: all .3s;
        z-index: 10000;
    }

    .layui-body {
        left: 0;
    }

    .layui-layout-admin .layui-footer {
        left: 0;
    }

    .layui-header .layui-logo {
        left: 54px;
        text-align: left;
        color: #4a4a4a;
        background-color: transparent;
    }

    .layui-header .layui-logo img {
        display: none;
    }

    .layui-header .layui-layout-left {
        left: 0;
    }

    /*展开样式*/
    .nav-mini .layui-side .layui-nav-itemed .layui-nav-child {
        display: block;
    }

    .nav-mini .layui-side {
        width: 220px;
        left: 0;
    }

    .nav-mini .layui-side .layui-nav {
        width: 220px;
    }

    .nav-mini .layui-side-scroll {
        width: 240px;
    }

    .nav-mini .layui-logo {
        width: 220px;
    }

    .nav-mini .layui-side .layui-nav .layui-nav-item > a span {
        display: inline-block;
    }

    .nav-mini .layui-body {
        left: 0;
    }

    .nav-mini .layui-footer {
        left: 0;
    }

    .nav-mini .layui-layout-left {
        left: 0;
    }

    .nav-mini .site-mobile-shade {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
        z-index: 9999;
    }
}

/*底部*/
.footer {
    text-align: center;
    line-height: 44px;
    /*border-left: 2px solid #5FB878;*/
    z-index: 999;
    background-color: #f9f9f9;
}

/*样式改变的过渡*/
.layui-body, .layui-footer, .layui-layout-admin .layui-side, .logo, .topLevelMenus li.layui-nav-item, .topLevelMenus li.layui-nav-item:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.showMenu .layui-body, .showMenu .layui-footer {
    left: 60px;
}

/*layui-body*/
.layui-body {
    overflow: hidden;
    border-top: 3px solid #5FB878;
    /*border-left: 2px solid #5FB878;*/
    background: #fff;
}

@media screen and (max-width: 720px) {

    .layui-body, .layui-layout-admin .layui-footer {
        left: -2px;
    }
}

/*修改顶部高度*/
.header .layui-nav-child, .layui-body, .layui-layout-admin, .header .layui-nav-bar {
    top: 50px !important;
}

#top_tabs_box {
    padding-right: 138px;
    height: 40px;
    /*border-bottom: 1px solid #bab0a0;*/
    /*border-bottom: 1px solid transparent;*/
}

#top_tabs {
    height: 40px;
    line-height: 40px;
    /*padding: 0 80px 0 40px;*/
    background-color: #f9f9f9;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    margin-top: 8px;
    /*border-bottom: 1px solid #5FB878;*/
}

#top_tabs_box .layui-tab-title li {
    min-width: 0;
    border-right: 1px solid #f6f6f6;
    color: #bab0a0;
}

/*多窗口页面操作下拉*/
.closeBox {
    height: 40px;
    line-height: 40px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    margin-top: 8px;
    position: absolute;
    right: 0;
    top: 0;
    /*border-top: 2px solid #5FB878;*/
}

.closeBox .layui-nav-item {
    line-height: 40px;
}

.closeBox .layui-nav-item > a, .closeBox .layui-nav-item > a:hover {
    color: #000;
}

.closeBox .layui-nav-child {
    top: 42px;
    left: -12px;
}

.closeBox .layui-nav-bar {
    display: none;
}

.closeBox a i.caozuo {
    font-size: 20px;
    position: absolute;
    top: 1px;
    left: 0;
}

.closeBox a span.layui-nav-more {
    border-color: #333 transparent transparent;
}

.closeBox a span.layui-nav-more.layui-nav-mored {
    border-color: transparent transparent #333;
}

.clildFrame.layui-tab-content {
    top: 41px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}

.layui-tab-title {
    height: 40px;
    border: none;
    min-width: 0;
}

.layui-tab-title .layui-this {
    background-color: #666;
    height: 40px;
}

.layui-tab-title .layui-this:after {
    border: none;
}

.layui-tab-title li cite {
    font-style: normal;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

/*打开页面动画*/
.layui-tab-item.layui-show {
    animation: moveTop 1s;
    -webkit-animation: moveTop 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
   /* overflow: auto;*/
}

.layui-tab-item {
    margin-top: 8px;
}

iframe {
    /*position: absolute;*/
    height: 100%;
    width: 100%;
    border: none;
    /* margin-top: 1px;*/
}

.layui-tab-title li cite {
    font-style: normal;
    padding-left: 5px;
}

.layui-nav cite {
    margin-left: 5px;
}

.skinBtn{ text-align:center; }