<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.iartisan.admin.template.authentication.support.dbm.mapper.SystemRoleMapper">

    <sql id="BASE_COLUMN_RESULT">
        ROLE_ID,ROLE_NAME,CREATE_TIME,UPDATE_TIME
    </sql>

</mapper>