<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.iartisan.admin.template.authentication.support.dbm.mapper.SystemUserMapper">

    <sql id="BASE_COLUMN_RESULT">
        USER_ID,USER_NAME,USER_PWD,STATUS,CREATE_TIME,UPDATE_TIME
    </sql>

</mapper>